<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RESTINA - Food & Restaurant HTML Template With RTL</title>
    <link
      rel="icon"
      type="image/png"
      href="assets/images/favicon.png"
    >

    {{ 'all.min.css' | asset_url | stylesheet_tag }}
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    {{ 'nice-select.css' | asset_url | stylesheet_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'venobox.min.css' | asset_url | stylesheet_tag }}
    {{ 'ranger_slider.css' | asset_url | stylesheet_tag }}
    {{ 'animate.css' | asset_url | stylesheet_tag }}
    {{ 'scroll_button.css' | asset_url | stylesheet_tag }}
    {{ 'custom_spacing.css' | asset_url | stylesheet_tag }}
    {{ 'select2.min.css' | asset_url | stylesheet_tag }}
    {{ 'colorfulTab.min.css' | asset_url | stylesheet_tag }}
    {{ 'animated_barfiller.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'responsive.css' | asset_url | stylesheet_tag }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}

    {% render 'gp-head' %}
  </head>
  <body><main class="main">
        {{ content_for_layout }}
      </main></body>
</html>
