<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RESTINA - Food & Restaurant HTML Template With RTL</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/logo.png?v=1711002347"
    >

    {{ 'all.min.css' | asset_url | stylesheet_tag }}
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    {{ 'nice-select.css' | asset_url | stylesheet_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'venobox.min.css' | asset_url | stylesheet_tag }}
    {{ 'ranger_slider.css' | asset_url | stylesheet_tag }}
    {{ 'animate.css' | asset_url | stylesheet_tag }}
    {{ 'scroll_button.css' | asset_url | stylesheet_tag }}
    {{ 'custom_spacing.css' | asset_url | stylesheet_tag }}
    {{ 'select2.min.css' | asset_url | stylesheet_tag }}
    {{ 'colorfulTab.min.css' | asset_url | stylesheet_tag }}
    {{ 'animated_barfiller.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'responsive.css' | asset_url | stylesheet_tag }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}

    {% render 'gp-head' %}
  </head>
  <body>
    <div class="main-body">
      {% comment %} slideshow start {% endcomment %}
      {% section 'header' %}
      {% comment %} slideshow end {% endcomment %}

      <main class="main">
        {{ content_for_layout }}
      </main>

      {% comment %} footer-start {% endcomment %}
      {% section 'footer' %}
      {% comment %} footer-end {% endcomment %}
    </div>

    {{ 'jquery-3.7.1.min.js' | asset_url | script_tag }}
    {{ 'bootstrap.bundle.min.js' | asset_url | script_tag }}
    {{ 'Font-Awesome.js' | asset_url | script_tag }}
    {{ 'jquery.nice-select.min.js' | asset_url | script_tag }}
    {{ 'jquery.marquee.min.js' | asset_url | script_tag }}
    {{ 'slick.min.js' | asset_url | script_tag }}
    {{ 'jquery.waypoints.min.js' | asset_url | script_tag }}
    {{ 'jquery.countup.min.js' | asset_url | script_tag }}
    {{ 'venobox.min.js' | asset_url | script_tag }}
    {{ 'scroll_button.js' | asset_url | script_tag }}
    {{ 'ranger_jquery-ui.min.js' | asset_url | script_tag }}
    {{ 'ranger_slider.js' | asset_url | script_tag }}
    {{ 'select2.min.js' | asset_url | script_tag }}
    {{ 'wow.min.js' | asset_url | script_tag }}
    {{ 'colorfulTab.min.js' | asset_url | script_tag }}
    {{ 'sticky_sidebar.js' | asset_url | script_tag }}
    {{ 'animated_barfiller.js' | asset_url | script_tag }}
    {{ 'jquery.animatedheadline.min.js' | asset_url | script_tag }}
    {{ 'script.js' | asset_url | script_tag }}
  </body>
</html>
