
  {% render 'gp-head', isThemeSection: true %}
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,700,400|Inter:600,700&display=swap');
      </style>
    
  <style>
    .gps-505343986504827783 .pointer-events-auto{pointer-events:auto}.gps-505343986504827783 .invisible{visibility:hidden}.gps-505343986504827783 .absolute{position:absolute}.gps-505343986504827783 .relative{position:relative}.gps-505343986504827783 .inset-0{inset:0}.gps-505343986504827783 .left-\[var\(--left\)\]{left:var(--left)}.gps-505343986504827783 .top-\[var\(--top\)\]{top:var(--top)}.gps-505343986504827783 .z-1{z-index:1}.gps-505343986504827783 .mx-auto{margin-left:auto;margin-right:auto}.gps-505343986504827783 .mb-0{margin-bottom:0}.gps-505343986504827783 .block{display:block}.gps-505343986504827783 .\!inline{display:inline!important}.gps-505343986504827783 .flex{display:flex}.gps-505343986504827783 .inline-flex{display:inline-flex}.gps-505343986504827783 .grid{display:grid}.gps-505343986504827783 .h-5{height:20px}.gps-505343986504827783 .h-full{height:100%}.gps-505343986504827783 .w-5{width:20px}.gps-505343986504827783 .w-full{width:100%}.gps-505343986504827783 .max-w-full{max-width:100%}.gps-505343986504827783 .shrink-0{flex-shrink:0}@keyframes spin{to{transform:rotate(1turn)}}.gps-505343986504827783 .animate-spin{animation:spin 1s linear infinite}.gps-505343986504827783 .flex-col{flex-direction:column}.gps-505343986504827783 .items-center{align-items:center}.gps-505343986504827783 .\!justify-center{justify-content:center!important}.gps-505343986504827783 .justify-center{justify-content:center}.gps-505343986504827783 .gap-y-0{row-gap:0}.gps-505343986504827783 .\!self-center{align-self:center!important}.gps-505343986504827783 .self-center{align-self:center}.gps-505343986504827783 .overflow-hidden{overflow:hidden}.gps-505343986504827783 .break-words{overflow-wrap:break-word}.gps-505343986504827783 .rounded-none{border-radius:0}.gps-505343986504827783 .bg-clip-content{background-clip:content-box}.gps-505343986504827783 .no-underline{text-decoration-line:none}.gps-505343986504827783 .opacity-25{opacity:.25}.gps-505343986504827783 .opacity-75{opacity:.75}.gps-505343986504827783 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505343986504827783 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505343986504827783 .duration-200{transition-duration:.2s}.gps-505343986504827783 .duration-300{transition-duration:.3s}.gps-505343986504827783 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505343986504827783 .disabled\:btn-disabled:disabled{cursor:default}.gps-505343986504827783 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-505343986504827783 .disabled\:opacity-30:disabled{opacity:.3}.gps-505343986504827783 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-505343986504827783 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-505343986504827783 .tablet\:relative{position:relative}.gps-505343986504827783 .tablet\:\!justify-center{justify-content:center!important}.gps-505343986504827783 .tablet\:\!self-center{align-self:center!important}}@media (max-width:767px){.gps-505343986504827783 .mobile\:relative{position:relative}.gps-505343986504827783 .mobile\:\!content-stretch{align-content:stretch!important}.gps-505343986504827783 .mobile\:\!justify-center{justify-content:center!important}.gps-505343986504827783 .mobile\:\!self-center{align-self:center!important}.gps-505343986504827783 .mobile\:\[\&\>\*\]\:\!justify-center>*{justify-content:center!important}}.gps-505343986504827783 .\[\&\>svg\]\:\!h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-505343986504827783 .\[\&\>svg\]\:\!w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-505343986504827783 .tablet\:\[\&\>svg\]\:\!h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-505343986504827783 .mobile\:\[\&\>svg\]\:\!h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-505343986504827783 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-505343986504827783 .\[\&_p\]\:inline p{display:inline}.gps-505343986504827783 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-505343986504827783 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-505343986504827783 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      pageContext id="g7w46GaSnZ"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7w46GaSnZ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="geS-5Q3wRm relative flex flex-col"
    >
      
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png","width":1920,"height":570,"backupFileKey":"505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png","width":1920,"height":570,"backupFileKey":"505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png","width":1920,"height":570,"backupFileKey":"505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"gvCNBYLguy","enableParallax":false,"speedParallax":0.6}'
      
      class="gvCNBYLguy group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full !self-center tablet:!self-center mobile:!self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--pos:relative;--h:auto;--h-tablet:475px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto"
    >
      <div
      class="relative flex flex-col items-center overflow-hidden !justify-center tablet:!justify-center mobile:!justify-center"
        style="--h:auto;--h-tablet:475px;--h-mobile:500px;--aspect:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
      >
        <div class="absolute w-full h-full">
          <div
            class="overflow-hidden w-full h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png" | file_url }});--bgi-tablet:url({{ "505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png" | file_url }});--bgi-mobile:url({{ "505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row z-1 w-full absolute tablet:relative mobile:relative tablet:[&>*>*]:!justify-undefined mobile:[&>*>*]:!justify-undefined mobile:!content-stretch mobile:[&>*]:!justify-center mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:center;--o:0"
      class="gy33H8AbP- relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gp1pKhFZIV "
        style="--ta:left;--mb:0px;--pl:8px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--weight:300;--lh:180%;--size:13px;--size-tablet:16px;--size-mobile:14px;--c:#F2A22A;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Today special offer</p>
        </div>
      </div>
    </div>
    <div
      pageContext parentTag="Col"
        class="gOb_qAxZH3 "
        style="--ta:left;--mb:var(--g-s-l);--pl:8px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:450px;--w-tablet:450px;--w-mobile:345px;--ta:left;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--lh:100%;--size:70px;--size-tablet:66px;--size-mobile:50px;--weight:bold;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Delicious Food with us.</p>
        </h2>
      </div>
    </div>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"label":"order now","btnLink":{"link":"","target":"_self"},"iconVisible":true,"iconSvg":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334322433360221\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M222.14,58.87A8,8,0,0,0,216,56H54.68L49.79,29.14A16,16,0,0,0,34.05,16H16a8,8,0,0,0,0,16h18L59.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,152,204a28,28,0,1,0,28-28H83.17a8,8,0,0,1-7.87-6.57L72.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,222.14,58.87ZM96,204a12,12,0,1,1-12-12A12,12,0,0,1,96,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,192,204Zm4-74.57A8,8,0,0,1,188.1,136H69.22L57.59,72H206.41Z\" /></svg>","iconAlign":"left","htmlType":"button","disabled":false,"shouldClearSpace":false}}' style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--pl:8px;--ta:left"
    class=""
  >
    <style>
    .gh0NByksSb.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gh0NByksSb:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #AB162C;
  
      
    }
  </style>
    <button
      type="button" data-id="gh0NByksSb" aria-label="order now"
      data-state="idle"
      class="gh0NByksSb gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none"
      style="--bg:#F2A22A;--hvr-bg:#ffffff;--radius:var(--g-radius-small);--shadow:none;--c:#121212;--hvr-c:#AB162C;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:uppercase;--ff:var(--g-font-Inter, 'Inter');--weight:600;--lh:180%;--size:13px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1 [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322433360221">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M222.14,58.87A8,8,0,0,0,216,56H54.68L49.79,29.14A16,16,0,0,0,34.05,16H16a8,8,0,0,0,0,16h18L59.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,152,204a28,28,0,1,0,28-28H83.17a8,8,0,0,1-7.87-6.57L72.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,222.14,58.87ZM96,204a12,12,0,1,1-12-12A12,12,0,0,1,96,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,192,204Zm4-74.57A8,8,0,0,1,188.1,136H69.22L57.59,72H206.41Z" /></svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        order now
      </span>
    </button>
  </div>
  </gp-button>
  
    </div><div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:center;--o:1"
      class="g-g_YDa2Dp relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g-wyuhZo7M"
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:none;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--pos:absolute;--top:-75px;--top-tablet:-60px;--right:undefined;--left:-125px;--left-tablet:-90px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "505206411655906183-68127b9b-f698-4454-a356-6d88d4f1b7ab.png" | file_url }}" data-srcset="{{ '505206411655906183-68127b9b-f698-4454-a356-6d88d4f1b7ab.png' | file_img_url: '768x768' }} 768w, {{ '505206411655906183-68127b9b-f698-4454-a356-6d88d4f1b7ab.png' | file_img_url: '1024x1024' }} 1024w, {{ '505206411655906183-68127b9b-f698-4454-a356-6d88d4f1b7ab.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="194" height="200" alt="Alt image" priority base-src
    sizes="100vw"
    style="--aspect:194/200;--aspect-tablet:194/200;--aspect-mobile:194/200;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
        <picture style="border-radius: inherit" class="w-full">
    <link rel="preload" href="{{ "505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png" | file_img_url: 'master' }}" as="image" />
    <source media="(max-width: 767px)" data-srcSet="{{ "505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <source media="(max-width: 1023px)" data-srcSet="{{ "505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <img
      
      class="gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "505206411655906183-9a737f00-da8d-4856-aa0f-76cc6160433d.png" | file_img_url: 'master' }}"
      alt=""
      style="--aspect:1920/570;--aspect-tablet:1920/570;--aspect-mobile:1920/570;--d:block;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:475px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
    />
  </picture>
      </div>
    </gp-hero-banner>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "presets": [
      {
        "name": "Section - Mar 18 11:00:55"
      }
    ],
    
    "name": "Section - Mar 18 11:00:55",
    "tag": "section",
    "class": "gps-505343986504827783 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/themee-development/apps/bold/app/shopify/edit?pageType=THEME_SECTION&editorId=505343986504827783)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
