
  {% render 'gp-head', isThemeSection: true %}
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700,600,500|Assistant:600&display=swap');
      </style>
    
  <style>
    .gps-505214775500735367 .-translate-y-1\/2,.gps-505214775500735367 .mobile\:-translate-y-1\/2,.gps-505214775500735367 .mobile\:rotate-0,.gps-505214775500735367 .mobile\:rotate-180,.gps-505214775500735367 .mobile\:translate-x-0,.gps-505214775500735367 .mobile\:translate-y-1\/2,.gps-505214775500735367 .rotate-0,.gps-505214775500735367 .rotate-180,.gps-505214775500735367 .tablet\:-translate-y-1\/2,.gps-505214775500735367 .tablet\:rotate-0,.gps-505214775500735367 .tablet\:rotate-180,.gps-505214775500735367 .tablet\:translate-x-0,.gps-505214775500735367 .tablet\:translate-y-1\/2,.gps-505214775500735367 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-505214775500735367 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-505214775500735367 .invisible{visibility:hidden}.gps-505214775500735367 .absolute{position:absolute}.gps-505214775500735367 .relative{position:relative}.gps-505214775500735367 .inset-0{inset:0}.gps-505214775500735367 .bottom-1\/2{bottom:50%}.gps-505214775500735367 .left-4{left:16px}.gps-505214775500735367 .left-\[var\(--left\)\]{left:var(--left)}.gps-505214775500735367 .right-4{right:16px}.gps-505214775500735367 .top-1\/2{top:50%}.gps-505214775500735367 .top-\[var\(--top\)\]{top:var(--top)}.gps-505214775500735367 .z-1{z-index:1}.gps-505214775500735367 .z-2{z-index:2}.gps-505214775500735367 .mx-auto{margin-left:auto;margin-right:auto}.gps-505214775500735367 .my-0{margin-bottom:0;margin-top:0}.gps-505214775500735367 .mb-0{margin-bottom:0}.gps-505214775500735367 .mt-2{margin-top:8px}.gps-505214775500735367 .block{display:block}.gps-505214775500735367 .flex{display:flex}.gps-505214775500735367 .inline-flex{display:inline-flex}.gps-505214775500735367 .grid{display:grid}.gps-505214775500735367 .\!hidden{display:none!important}.gps-505214775500735367 .hidden{display:none}.gps-505214775500735367 .aspect-square{aspect-ratio:1/1}.gps-505214775500735367 .h-5{height:20px}.gps-505214775500735367 .h-6{height:24px}.gps-505214775500735367 .h-full{height:100%}.gps-505214775500735367 .w-5{width:20px}.gps-505214775500735367 .w-6{width:24px}.gps-505214775500735367 .w-\[12px\]{width:12px}.gps-505214775500735367 .w-full{width:100%}.gps-505214775500735367 .max-w-full{max-width:100%}.gps-505214775500735367 .shrink-0{flex-shrink:0}.gps-505214775500735367 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-505214775500735367 .-translate-y-1\/2,.gps-505214775500735367 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505214775500735367 .translate-y-1\/2{--tw-translate-y:50%}.gps-505214775500735367 .rotate-0{--tw-rotate:0deg}.gps-505214775500735367 .rotate-0,.gps-505214775500735367 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505214775500735367 .rotate-180{--tw-rotate:180deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-505214775500735367 .animate-spin{animation:spin 1s linear infinite}.gps-505214775500735367 .cursor-pointer{cursor:pointer}.gps-505214775500735367 .flex-row{flex-direction:row}.gps-505214775500735367 .flex-row-reverse{flex-direction:row-reverse}.gps-505214775500735367 .flex-col{flex-direction:column}.gps-505214775500735367 .items-center{align-items:center}.gps-505214775500735367 .\!justify-center{justify-content:center!important}.gps-505214775500735367 .justify-center{justify-content:center}.gps-505214775500735367 .gap-2{gap:8px}.gps-505214775500735367 .gap-y-0{row-gap:0}.gps-505214775500735367 .\!self-center{align-self:center!important}.gps-505214775500735367 .self-center{align-self:center}.gps-505214775500735367 .overflow-hidden{overflow:hidden}.gps-505214775500735367 .break-words{overflow-wrap:break-word}.gps-505214775500735367 .rounded-full{border-radius:9999px}.gps-505214775500735367 .rounded-none{border-radius:0}.gps-505214775500735367 .bg-clip-content{background-clip:content-box}.gps-505214775500735367 .text-center{text-align:center}.gps-505214775500735367 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-505214775500735367 .no-underline{text-decoration-line:none}.gps-505214775500735367 .opacity-25{opacity:.25}.gps-505214775500735367 .opacity-75{opacity:.75}.gps-505214775500735367 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-505214775500735367 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505214775500735367 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505214775500735367 .duration-200{transition-duration:.2s}.gps-505214775500735367 .duration-300{transition-duration:.3s}.gps-505214775500735367 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505214775500735367 .disabled\:btn-disabled:disabled{cursor:default}.gps-505214775500735367 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-505214775500735367 .disabled\:cursor-default:disabled{cursor:default}.gps-505214775500735367 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-505214775500735367 .disabled\:opacity-30:disabled{opacity:.3}.gps-505214775500735367 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-505214775500735367 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-505214775500735367 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-505214775500735367 .tablet\:absolute{position:absolute}.gps-505214775500735367 .tablet\:relative{position:relative}.gps-505214775500735367 .tablet\:bottom-1\/2{bottom:50%}.gps-505214775500735367 .tablet\:left-4{left:16px}.gps-505214775500735367 .tablet\:right-4{right:16px}.gps-505214775500735367 .tablet\:top-1\/2{top:50%}.gps-505214775500735367 .tablet\:mt-2{margin-top:8px}.gps-505214775500735367 .tablet\:block{display:block}.gps-505214775500735367 .tablet\:\!flex{display:flex!important}.gps-505214775500735367 .tablet\:\!hidden{display:none!important}.gps-505214775500735367 .tablet\:w-full{width:100%}.gps-505214775500735367 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-505214775500735367 .tablet\:-translate-y-1\/2,.gps-505214775500735367 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505214775500735367 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-505214775500735367 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-505214775500735367 .tablet\:rotate-0,.gps-505214775500735367 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505214775500735367 .tablet\:rotate-0{--tw-rotate:0deg}.gps-505214775500735367 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505214775500735367 .tablet\:flex-row{flex-direction:row}.gps-505214775500735367 .tablet\:\!content-stretch{align-content:stretch!important}.gps-505214775500735367 .tablet\:\!justify-center{justify-content:center!important}.gps-505214775500735367 .tablet\:\!self-center{align-self:center!important}.gps-505214775500735367 .tablet\:px-0{padding-left:0;padding-right:0}.gps-505214775500735367 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-505214775500735367 .mobile\:absolute{position:absolute}.gps-505214775500735367 .mobile\:relative{position:relative}.gps-505214775500735367 .mobile\:bottom-1\/2{bottom:50%}.gps-505214775500735367 .mobile\:left-4{left:16px}.gps-505214775500735367 .mobile\:right-4{right:16px}.gps-505214775500735367 .mobile\:top-1\/2{top:50%}.gps-505214775500735367 .mobile\:mt-2{margin-top:8px}.gps-505214775500735367 .mobile\:block{display:block}.gps-505214775500735367 .mobile\:\!hidden{display:none!important}.gps-505214775500735367 .mobile\:w-full{width:100%}.gps-505214775500735367 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-505214775500735367 .mobile\:-translate-y-1\/2,.gps-505214775500735367 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505214775500735367 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-505214775500735367 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-505214775500735367 .mobile\:rotate-0,.gps-505214775500735367 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505214775500735367 .mobile\:rotate-0{--tw-rotate:0deg}.gps-505214775500735367 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505214775500735367 .mobile\:flex-row{flex-direction:row}.gps-505214775500735367 .mobile\:\!flex-nowrap{flex-wrap:nowrap!important}.gps-505214775500735367 .mobile\:\!content-stretch{align-content:stretch!important}.gps-505214775500735367 .mobile\:\!justify-center{justify-content:center!important}.gps-505214775500735367 .mobile\:\!self-center{align-self:center!important}.gps-505214775500735367 .mobile\:px-0{padding-left:0;padding-right:0}.gps-505214775500735367 .mobile\:pl-1{padding-left:4px}}@media (max-width:1023px){.gps-505214775500735367 .tablet\:\[\&\>\*\]\:\!justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-505214775500735367 .mobile\:\[\&\>\*\]\:\!justify-center>*{justify-content:center!important}}.gps-505214775500735367 .\[\&\>svg\]\:\!h-6>svg{height:24px!important}.gps-505214775500735367 .\[\&\>svg\]\:\!h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-505214775500735367 .\[\&\>svg\]\:\!w-6>svg{width:24px!important}.gps-505214775500735367 .\[\&\>svg\]\:\!w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-505214775500735367 .tablet\:\[\&\>svg\]\:\!h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-505214775500735367 .mobile\:\[\&\>svg\]\:\!h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-505214775500735367 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-505214775500735367 .\[\&_p\]\:inline p{display:inline}.gps-505214775500735367 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-505214775500735367 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-505214775500735367 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      pageContext id="gDdC9MSzRB"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDdC9MSzRB mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gGyvMQOiI2 relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gJi3f9UaVg"
        style="--mb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJi3f9UaVg mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gl3cvzucQg relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"iconVisible":true,"iconAlign":"left","iconSvg":"<svg data-id=\"505221929272083642\" xmlns=\"http://www.w3.org/2000/svg\" shape-rendering=\"geometricPrecision\" text-rendering=\"geometricPrecision\" image-rendering=\"optimizeQuality\" fill-rule=\"evenodd\" clip-rule=\"evenodd\" viewBox=\"0 0 384 511.4\"><defs><linearGradient id=\"a\" gradientUnits=\"userSpaceOnUse\" x1=\"163.52\" y1=\"286.47\" x2=\"163.52\" y2=\"500.71\"><stop offset=\"0\" stop-color=\"#FB6404\"/><stop offset=\"1\" stop-color=\"#F2BE10\"/></linearGradient></defs><path fill=\"#E20919\" d=\"M77.46 228.43C65.33 119.85 128.78 43.48 247.72 0c-72.85 94.5 62.09 196.88 69.53 295.03 17.44-29.75 27.34-69.48 29.3-122.55 89.18 139.92 15.25 368.59-181.02 335.73-18.02-3.01-35.38-8.7-51.21-17.17C42.76 452.8 0 369.53 0 290c0-50.69 21.68-95.95 49.74-131.91 3.75 35.23 11.73 61.51 27.72 70.34z\"/><path fill=\"url(#a)\" d=\"M139.16 372.49c-21.83-57.66-18.81-150.75 42.33-183.41.43 107.03 103.57 120.64 84.44 234.9 17.64-20.39 26.51-53.02 28.1-78.75 27.96 65.38 6.04 117.72-33.81 144.37-121.15 81-225.48-83.23-156.11-173.26 2.08 20.07 26.14 51.12 35.05 56.15z\"/></svg>","label":"Our Popular category","btnLink":{"link":"","target":"_self"},"htmlType":"button","disabled":false,"shouldClearSpace":false}}' style="">
  <div
    
    style="--mb:0px;--pt:0px;--pb:20px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gRBxmNo8MQ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gRBxmNo8MQ:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gRBxmNo8MQ" aria-label="Our Popular category"
      data-state="idle"
      class="gRBxmNo8MQ gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none"
      style="--bg:rgba(0, 0, 11, 0);--hvr-bg:rgba(0, 0, 11, 0);--radius:var(--g-radius-small);--shadow:none;--c:#121212;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:uppercase;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--ls:-1px;--lh:120%;--size:22px;--size-tablet:35px;--size-mobile:25px;--weight:bold"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1 [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg data-id="505221929272083642" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 384 511.4"><defs><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="163.52" y1="286.47" x2="163.52" y2="500.71"><stop offset="0" stop-color="#FB6404"/><stop offset="1" stop-color="#F2BE10"/></linearGradient></defs><path fill="#E20919" d="M77.46 228.43C65.33 119.85 128.78 43.48 247.72 0c-72.85 94.5 62.09 196.88 69.53 295.03 17.44-29.75 27.34-69.48 29.3-122.55 89.18 139.92 15.25 368.59-181.02 335.73-18.02-3.01-35.38-8.7-51.21-17.17C42.76 452.8 0 369.53 0 290c0-50.69 21.68-95.95 49.74-131.91 3.75 35.23 11.73 61.51 27.72 70.34z"/><path fill="url(#a)" d="M139.16 372.49c-21.83-57.66-18.81-150.75 42.33-183.41.43 107.03 103.57 120.64 84.44 234.9 17.64-20.39 26.51-53.02 28.1-78.75 27.96 65.38 6.04 117.72-33.81 144.37-121.15 81-225.48-83.23-156.11-173.26 2.08 20.07 26.14 51.12 35.05 56.15z"/></svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Our Popular category
      </span>
    </button>
  </div>
  </gp-button>
  
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="gyR-qpjO26"
        style="--mb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyR-qpjO26 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ggOi877E8- relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-gXL90gxaKB-{{section.id}}" class=" "  gp-data='{"id":"gXL90gxaKB-{{section.id}}","setting":{"slidesToShow":{"desktop":4,"tablet":3,"mobile":1},"childItem":["Slide 1","Slide 2","Slide 3","Slide 4","Slide 6"],"vertical":{"desktop":false},"enableDrag":true,"loop":{"desktop":false},"autoplay":true,"pauseOnHover":true,"autoplayTimeout":"1","controlOverContent":{"desktop":true},"dot":{"desktop":true,"tablet":true,"mobile":false},"arrow":{"desktop":false,"tablet":false},"dotColor":{"desktop":"bg-1"},"dotActiveColor":{"desktop":"line-3"},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","arrowCustomColor":"#ffffff","background":{"desktop":{"type":"image","color":"transparent","image":{"src":"","width":770,"height":465,"backupFileKey":"","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}}},"styles":{"fullWidth":{"desktop":false,"tablet":false,"mobile":false},"adaptiveHeight":{"desktop":true},"height":{"desktop":"300px"},"spacing":{"desktop":16}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block mx-auto gXL90gxaKB"
        style="--mb:0px;--pt:20px;--pl:20px;--pb:20px;--pr:20px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:20px;--pl-tablet:20px;--pb-tablet:20px;--pr-tablet:20px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:20px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--op:100%;--animation:[object Object];--h:auto;--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      >
        <div
          class="h-full z-1"
        >
          <div id="gp-carousel-gXL90gxaKB-{{section.id}}" class="gem-slider h-full overflow-hidden mobile:!flex-nowrap"         
          style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      pageContext tag="CarouselItem" label="Carousel Item" type="component"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 3 - 10.666666666666666px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 3 - 10.666666666666666px);--maxw-mobile:calc(100% / 1 - 0px);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      class="gem-slider-item w-full gem-slider-item- gpwh5Mfrnq"
    >
      
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png","width":300,"height":100,"backupFileKey":"505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png","width":300,"height":100,"backupFileKey":"505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png","width":300,"height":100,"backupFileKey":"505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"gJ2q079Huc","enableParallax":false,"speedParallax":1}'
      
      class="gJ2q079Huc group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full !self-center tablet:!self-center mobile:!self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--h:auto;--h-tablet:auto;--h-mobile:100px;--w:auto;--w-tablet:auto;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
    >
      <div
      class="relative flex flex-col items-center overflow-hidden !justify-center tablet:!justify-center mobile:!justify-center"
        style="--h:auto;--h-tablet:auto;--h-mobile:100px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--shadow:none"
      >
        <div class="absolute w-full h-full">
          <div
            class="overflow-hidden w-full h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png" | file_url }});--bgi-tablet:url({{ "505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png" | file_url }});--bgi-mobile:url({{ "505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row z-1 w-full absolute tablet:absolute mobile:relative tablet:[&>*>*]:!justify-undefined mobile:[&>*>*]:!justify-undefined tablet:!content-stretch tablet:[&>*]:!justify-center mobile:!content-stretch mobile:[&>*]:!justify-center mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gMAds6n8oU relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="g16PWz-mnR "
        style="--ta:left;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant');--weight:600;--lh:180%;--size:20px;--size-tablet:16px;--size-mobile:14px;--c:#e2e2e2;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>PIZZa</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
        <picture style="border-radius: inherit" class="w-full">
    <link rel="preload" href="{{ "505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png" | file_img_url: 'master' }}" as="image" />
    <source media="(max-width: 767px)" data-srcSet="{{ "505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <source media="(max-width: 1023px)" data-srcSet="{{ "505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <img
      
      class="gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "505206411655906183-b3712c4e-b0b1-4cf4-9392-7f7a11be0006.png" | file_img_url: 'master' }}"
      alt=""
      style="--aspect:300/100;--aspect-tablet:300/100;--aspect-mobile:300/100;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:100px;--w:auto;--w-tablet:auto;--w-mobile:100%;--op:0;--z:-1"
    />
  </picture>
      </div>
    </gp-hero-banner>
  
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      pageContext tag="CarouselItem" label="Carousel Item" type="component"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 3 - 10.666666666666666px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 3 - 10.666666666666666px);--maxw-mobile:calc(100% / 1 - 0px);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      class="gem-slider-item w-full gem-slider-item- gFsZvpfWo-"
    >
      
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png","width":300,"height":100,"backupFileKey":"505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png","width":300,"height":100,"backupFileKey":"505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png","width":300,"height":100,"backupFileKey":"505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"g_4xcp1j9o","enableParallax":false,"speedParallax":0.6}'
      
      class="g_4xcp1j9o group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full !self-center tablet:!self-center mobile:!self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--h:auto;--h-tablet:auto;--h-mobile:100px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
    >
      <div
      class="relative flex flex-col items-center overflow-hidden !justify-center tablet:!justify-center mobile:!justify-center"
        style="--h:auto;--h-tablet:auto;--h-mobile:100px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--shadow:none"
      >
        <div class="absolute w-full h-full">
          <div
            class="overflow-hidden w-full h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png" | file_url }});--bgi-tablet:url({{ "505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png" | file_url }});--bgi-mobile:url({{ "505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row z-1 w-full absolute tablet:absolute mobile:relative tablet:[&>*>*]:!justify-undefined mobile:[&>*>*]:!justify-undefined tablet:!content-stretch tablet:[&>*]:!justify-center mobile:!content-stretch mobile:[&>*]:!justify-center mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:center;--o:0"
      class="gb5VnrN5ts relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gtPcm2TPYG "
        style="--ta:left;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--weight:600;--lh:180%;--size:20px;--size-tablet:16px;--size-mobile:14px;--c:#e2e2e2;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Dessert</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
        <picture style="border-radius: inherit" class="w-full">
    <link rel="preload" href="{{ "505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png" | file_img_url: 'master' }}" as="image" />
    <source media="(max-width: 767px)" data-srcSet="{{ "505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <source media="(max-width: 1023px)" data-srcSet="{{ "505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <img
      
      class="gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "505206411655906183-c3c02f1c-4232-4a71-8417-a46fecb34e00.png" | file_img_url: 'master' }}"
      alt=""
      style="--aspect:300/100;--aspect-tablet:300/100;--aspect-mobile:300/100;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:100px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
    />
  </picture>
      </div>
    </gp-hero-banner>
  
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      pageContext tag="CarouselItem" label="Carousel Item" type="component"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 3 - 10.666666666666666px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 3 - 10.666666666666666px);--maxw-mobile:calc(100% / 1 - 0px);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      class="gem-slider-item w-full gem-slider-item- gdYuIfaPu0"
    >
      
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png","width":300,"height":100,"backupFileKey":"505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png","width":300,"height":100,"backupFileKey":"505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png","width":300,"height":100,"backupFileKey":"505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"gY-z6gV-yT","enableParallax":false,"speedParallax":0.6}'
      
      class="gY-z6gV-yT group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full !self-center tablet:!self-center mobile:!self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--h:auto;--h-tablet:auto;--h-mobile:100px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
    >
      <div
      class="relative flex flex-col items-center overflow-hidden !justify-center tablet:!justify-center mobile:!justify-center"
        style="--h:auto;--h-tablet:auto;--h-mobile:100px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--shadow:none"
      >
        <div class="absolute w-full h-full">
          <div
            class="overflow-hidden w-full h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_url }});--bgi-tablet:url({{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_url }});--bgi-mobile:url({{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row z-1 w-full absolute tablet:absolute mobile:relative tablet:[&>*>*]:!justify-undefined mobile:[&>*>*]:!justify-undefined tablet:!content-stretch tablet:[&>*]:!justify-center mobile:!content-stretch mobile:[&>*]:!justify-center mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gd-ALxY8PK relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="guMIntToZU "
        style="--ta:left;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--weight:600;--lh:180%;--size:20px;--size-tablet:16px;--size-mobile:14px;--c:#e2e2e2;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Burger</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
        <picture style="border-radius: inherit" class="w-full">
    <link rel="preload" href="{{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_img_url: 'master' }}" as="image" />
    <source media="(max-width: 767px)" data-srcSet="{{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <source media="(max-width: 1023px)" data-srcSet="{{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <img
      
      class="gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_img_url: 'master' }}"
      alt=""
      style="--aspect:300/100;--aspect-tablet:300/100;--aspect-mobile:300/100;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:100px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
    />
  </picture>
      </div>
    </gp-hero-banner>
  
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      pageContext tag="CarouselItem" label="Carousel Item" type="component"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 3 - 10.666666666666666px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 3 - 10.666666666666666px);--maxw-mobile:calc(100% / 1 - 0px);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      class="gem-slider-item w-full gem-slider-item- goj88avT90"
    >
      
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png","width":300,"height":100,"backupFileKey":"505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png","width":300,"height":100,"backupFileKey":"505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png","width":300,"height":100,"backupFileKey":"505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"gqta6HCXaE","enableParallax":false,"speedParallax":0.6}'
      
      class="gqta6HCXaE group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full !self-center tablet:!self-center mobile:!self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--h:auto;--h-tablet:auto;--h-mobile:100px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
    >
      <div
      class="relative flex flex-col items-center overflow-hidden !justify-center tablet:!justify-center mobile:!justify-center"
        style="--h:auto;--h-tablet:auto;--h-mobile:100px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--shadow:none"
      >
        <div class="absolute w-full h-full">
          <div
            class="overflow-hidden w-full h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png" | file_url }});--bgi-tablet:url({{ "505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png" | file_url }});--bgi-mobile:url({{ "505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row z-1 w-full absolute tablet:absolute mobile:relative tablet:[&>*>*]:!justify-undefined mobile:[&>*>*]:!justify-undefined tablet:!content-stretch tablet:[&>*]:!justify-center mobile:!content-stretch mobile:[&>*]:!justify-center mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gC_RbWSSs4 relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gGZ6nQU61N "
        style="--ta:left;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--weight:600;--lh:180%;--size:20px;--size-tablet:16px;--size-mobile:14px;--c:#e2e2e2;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Drinks</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
        <picture style="border-radius: inherit" class="w-full">
    <link rel="preload" href="{{ "505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png" | file_img_url: 'master' }}" as="image" />
    <source media="(max-width: 767px)" data-srcSet="{{ "505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <source media="(max-width: 1023px)" data-srcSet="{{ "505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <img
      
      class="gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "505206411655906183-6624b66e-eef7-4407-8777-d2fa1a05eb4e.png" | file_img_url: 'master' }}"
      alt=""
      style="--aspect:300/100;--aspect-tablet:300/100;--aspect-mobile:300/100;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:100px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
    />
  </picture>
      </div>
    </gp-hero-banner>
  
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      pageContext tag="CarouselItem" label="Carousel Item" type="component"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 3 - 10.666666666666666px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 3 - 10.666666666666666px);--maxw-mobile:calc(100% / 1 - 0px);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      class="gem-slider-item w-full gem-slider-item- g08PMReXCo"
    >
      
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png","width":300,"height":100,"backupFileKey":"505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png","width":300,"height":100,"backupFileKey":"505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png","width":300,"height":100,"backupFileKey":"505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"gNFvMLfcUJ","enableParallax":false,"speedParallax":0.6}'
      
      class="gNFvMLfcUJ group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full !self-center tablet:!self-center mobile:!self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--op:100%;--animation:[object Object];--h:auto;--h-tablet:auto;--h-mobile:100px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
    >
      <div
      class="relative flex flex-col items-center overflow-hidden !justify-center tablet:!justify-center mobile:!justify-center"
        style="--h:auto;--h-tablet:auto;--h-mobile:100px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--shadow:none"
      >
        <div class="absolute w-full h-full">
          <div
            class="overflow-hidden w-full h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_url }});--bgi-tablet:url({{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_url }});--bgi-mobile:url({{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row z-1 w-full absolute tablet:absolute mobile:relative tablet:[&>*>*]:!justify-undefined mobile:[&>*>*]:!justify-undefined tablet:!content-stretch tablet:[&>*]:!justify-center mobile:!content-stretch mobile:[&>*]:!justify-center mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gaa-lb7LQE relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="g4IeIhA4he "
        style="--ta:left;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--weight:600;--lh:180%;--size:20px;--size-tablet:16px;--size-mobile:14px;--c:#e2e2e2;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;overflow:hidden"
        >
        <p>Burger</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
        <picture style="border-radius: inherit" class="w-full">
    <link rel="preload" href="{{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_img_url: 'master' }}" as="image" />
    <source media="(max-width: 767px)" data-srcSet="{{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <source media="(max-width: 1023px)" data-srcSet="{{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <img
      
      class="gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "505206411655906183-519d16e6-09b5-4ad2-99e4-fbeac2cf0862.png" | file_img_url: 'master' }}"
      alt=""
      style="--aspect:300/100;--aspect-tablet:300/100;--aspect-mobile:300/100;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:100px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
    />
  </picture>
      </div>
    </gp-hero-banner>
  
    </div>
  
          </div>
        </div>
        
    <button
      type="button"
      class="gp-carousel-action-back gXL90gxaKB-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden !hidden tablet:!hidden mobile:!hidden left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center [&>svg]:!h-6 [&>svg]:!w-6"
  style="--c:#ffffff"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  

        
    <button
      type="button"
      class="gp-carousel-action-next gXL90gxaKB-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden !hidden tablet:!hidden mobile:!hidden right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center [&>svg]:!h-6 [&>svg]:!w-6"
  style="--c:#ffffff"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-gXL90gxaKB-{{section.id}} flex flex-row w-full mt-2 tablet:!flex tablet:flex-row tablet:w-full tablet:mt-2 mobile:!hidden mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="gDBRQr7NJq"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDBRQr7NJq mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gCVvTFoWar relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gQPxciE8ln"
        style="--mb:0px;--pt:20px;--pl:20px;--pb:20px;--pr:20px;--mb-tablet:0px;--pt-tablet:20px;--pl-tablet:20px;--pb-tablet:20px;--pr-tablet:20px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQPxciE8ln mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gWOon4sXNF relative flex flex-col"
    >
      
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png","width":850,"height":200,"backupFileKey":"505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png","width":850,"height":200,"backupFileKey":"505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png","width":850,"height":200,"backupFileKey":"505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"gDk1VCgT3_","enableParallax":false,"speedParallax":0.6}'
      
      class="gDk1VCgT3_ group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full !self-center tablet:!self-center mobile:!self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--shadow:none;--op:100%;--animation:[object Object];--mt:0px;--pt:0px;--mt-tablet:0px;--pt-tablet:0px;--pb-tablet:20px;--h:fit-content;--h-tablet:fit-content;--h-mobile:200px;--w:100%;--w-tablet:100%;--w-mobile:auto;--aspect-mobile:auto"
    >
      <div
      class="relative flex flex-col items-center overflow-hidden !justify-center tablet:!justify-center mobile:!justify-center"
        style="--h:fit-content;--h-tablet:fit-content;--h-mobile:200px;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--shadow:none"
      >
        <div class="absolute w-full h-full">
          <div
            class="overflow-hidden w-full h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png" | file_url }});--bgi-tablet:url({{ "505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png" | file_url }});--bgi-mobile:url({{ "505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row z-1 w-full tablet:relative mobile:absolute tablet:[&>*>*]:!justify-undefined mobile:[&>*>*]:!justify-undefined tablet:!content-stretch tablet:[&>*]:!justify-center mobile:!content-stretch mobile:[&>*]:!justify-center mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:center;--o:0"
      class="gvfeKR5VRi relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gD24V9Hxgw "
        style="--ta:left;--mb:0px;--pl:20px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--ls:-1px;--lh:120%;--size:26px;--size-tablet:35px;--size-mobile:30px;--weight:bold;--c:#121212;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>The best Burger<br>place in town</p>
        </h2>
      </div>
    </div>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"label":"order now","btnLink":{"link":"","target":"_self"},"iconVisible":true,"iconSvg":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334323829473629\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm29.66,109.66-40,40a8,8,0,0,1-11.32-11.32L140.69,128,106.34,93.66a8,8,0,0,1,11.32-11.32l40,40A8,8,0,0,1,157.66,133.66Z\" /></svg>","iconAlign":"right","htmlType":"button","disabled":false,"shouldClearSpace":false}}' style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gymkEmMSgg.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gymkEmMSgg:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gymkEmMSgg" aria-label="order now"
      data-state="idle"
      class="gymkEmMSgg gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none flex-row-reverse"
      style="--bg:rgba(225, 225, 225, 0);--hvr-bg:rgba(0, 0, 0, 0);--radius:var(--g-radius-small);--shadow:none;--c:#121212;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:uppercase;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--lh:180%;--size:13px;--size-tablet:16px;--size-mobile:14px;--weight:bold"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1 [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334323829473629">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm29.66,109.66-40,40a8,8,0,0,1-11.32-11.32L140.69,128,106.34,93.66a8,8,0,0,1,11.32-11.32l40,40A8,8,0,0,1,157.66,133.66Z" /></svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        order now
      </span>
    </button>
  </div>
  </gp-button>
  
    </div>
    </div>
  
    
        <picture style="border-radius: inherit" class="w-full">
    <link rel="preload" href="{{ "505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png" | file_img_url: 'master' }}" as="image" />
    <source media="(max-width: 767px)" data-srcSet="{{ "505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <source media="(max-width: 1023px)" data-srcSet="{{ "505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <img
      
      class="gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "505206411655906183-ff4e26d1-cbdf-47bf-a139-3cfb64afd6fb.png" | file_img_url: 'master' }}"
      alt=""
      style="--aspect:850/200;--aspect-tablet:850/200;--aspect-mobile:850/200;--d:none;--d-tablet:none;--d-mobile:block;--h:fit-content;--h-tablet:fit-content;--h-mobile:200px;--w:100%;--w-tablet:100%;--w-mobile:auto;--op:0;--z:-1"
    />
  </picture>
      </div>
    </gp-hero-banner>
  
    </div><div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_MKUI1OYj relative flex flex-col"
    >
      
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png" as="image" />
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png","width":410,"height":200,"backupFileKey":"505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png","width":410,"height":200,"backupFileKey":"505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0648/4908/4594/files/505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png","width":410,"height":200,"backupFileKey":"505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"gGnkwNNvFJ","enableParallax":false,"speedParallax":0.6}'
      
      class="gGnkwNNvFJ group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full !self-center tablet:!self-center mobile:!self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--mt:0px;--mb:0px;--pt:0px;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="relative flex flex-col items-center overflow-hidden !justify-center tablet:!justify-center mobile:!justify-center"
        style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--shadow:none"
      >
        <div class="absolute w-full h-full">
          <div
            class="overflow-hidden w-full h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png" | file_url }});--bgi-tablet:url({{ "505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png" | file_url }});--bgi-mobile:url({{ "505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row z-1 w-full tablet:relative mobile:relative tablet:[&>*>*]:!justify-undefined mobile:[&>*>*]:!justify-undefined tablet:!content-stretch tablet:[&>*]:!justify-center mobile:!content-stretch mobile:[&>*]:!justify-center mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:center;--o:0"
      class="gKKJcDmafw relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gUyPA-FYVD "
        style="--ta:left;--mb:0px;--pl:20px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--ls:-1px;--lh:120%;--size:26px;--size-tablet:35px;--size-mobile:30px;--weight:bold;--c:#121212;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Great Value<br>Mixed Drinks</p>
        </h2>
      </div>
    </div>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"label":"order now","btnLink":{"link":"","target":"_self"},"iconVisible":true,"iconSvg":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334323829473629\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm29.66,109.66-40,40a8,8,0,0,1-11.32-11.32L140.69,128,106.34,93.66a8,8,0,0,1,11.32-11.32l40,40A8,8,0,0,1,157.66,133.66Z\" /></svg>","iconAlign":"right","htmlType":"button","disabled":false,"shouldClearSpace":false}}' style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--mb:0px;--ta:left"
    class=""
  >
    <style>
    .ger3WCr6Uo.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .ger3WCr6Uo:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="ger3WCr6Uo" aria-label="order now"
      data-state="idle"
      class="ger3WCr6Uo gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none flex-row-reverse"
      style="--bg:rgba(225, 225, 225, 0);--hvr-bg:rgba(0, 0, 0, 0);--radius:var(--g-radius-small);--shadow:none;--c:#121212;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:uppercase;--ff:var(--g-font-IBM-Plex-Sans, 'IBM Plex Sans');--lh:180%;--size:13px;--size-tablet:16px;--size-mobile:14px;--weight:bold"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1 [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334323829473629">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm29.66,109.66-40,40a8,8,0,0,1-11.32-11.32L140.69,128,106.34,93.66a8,8,0,0,1,11.32-11.32l40,40A8,8,0,0,1,157.66,133.66Z" /></svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        order now
      </span>
    </button>
  </div>
  </gp-button>
  
    </div>
    </div>
  
    
        <picture style="border-radius: inherit" class="w-full">
    <link rel="preload" href="{{ "505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png" | file_img_url: 'master' }}" as="image" />
    <source media="(max-width: 767px)" data-srcSet="{{ "505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <source media="(max-width: 1023px)" data-srcSet="{{ "505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <img
      
      class="gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "505206411655906183-e1fcc3e4-cb66-4355-8828-e7edaec677b4.png" | file_img_url: 'master' }}"
      alt=""
      style="--aspect:410/200;--aspect-tablet:410/200;--aspect-mobile:410/200;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
    />
  </picture>
      </div>
    </gp-hero-banner>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "presets": [
      {
        "name": "Feature-cTake"
      }
    ],
    
    "name": "Feature-cTake",
    "tag": "section",
    "class": "gps-505214775500735367 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/themee-development/apps/bold/app/shopify/edit?pageType=THEME_SECTION&editorId=505214775500735367)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
