{% liquid
  assign logo = section.settings.logo
  assign cartIconImg = section.settings.cartIconImg
  assign user_icon = section.settings.user_icon
  assign menu = section.settings.menu
%}

<!--
  ==========================
  HEADER START
  ===========================
-->
<header>
  <div class="container container_large">
    <div class="row">
      <div class="col-xl-6 col-md-6 d-none d-md-block">
        <div class="header_left">
          <p>
            <i class="far fa-truck"></i>
            Free Express shipping over $200!
          </p>
        </div>
      </div>
      <div class="col-xl-6 col-md-6">
        <div class="header_right">
          <ul>
            <li>
              <select class="select_js">
                <option value="">English</option>
                <option value="">Japanes</option>
                <option value="">Korean</option>
                <option value="">Urdu</option>
                <option value="">Chines</option>
                <option value="">Arabic</option>
              </select>
            </li>
            <li>
              <select class="select_js">
                <option value="">$ USD</option>
                <option value="">ট BDT</option>
                <option value="">€ EUR</option>
                <option value="">£ GBP</option>
                <option value="">¥ JPY</option>
              </select>
            </li>
            <li>
              <a href="#">
                <span>
                  <img
                    src="{{ user_icon | img_url }}"
                    alt="{{ null }}"
                    width="50"
                    height="50"
                ></span>
                My Account
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!--
  ==========================
  HEADER END
  ===========================
-->
<!--
  ==========================
  MENU START
  ===========================
-->
<nav class="navbar navbar-expand-lg main_menu">
  <div class="container container_large">
    <a class="navbar-brand" href="index.html">
      {% if logo %}
        <img
          style="width:{{ section.settings.logo_width }}px !important"
          src="{{ logo | img_url: 'original' }}"
          alt="{{ shop.name }}"
        >
      {% else %}
        <span>{{ shop.name }}</span>
      {% endif %}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars bar_icon"></i>
      <i class="far fa-times close_icon"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto menu">
        {% for link in section.settings.menu.links %}
          <li class="nav-item {% if link.child_active %}active{% endif %}">
            {% if link.links != blank %}
              <a class="nav-link {% if link.child_active %}active{% endif %}" href="{{ link.url }}">
                {{- link.title }}
                <i class="fal fa-plus"></i>
              </a>
            {% else %}
              <a class="nav-link {% if link.child_active %}active{% endif %}" href="{{ link.url }}">
                {{- link.title }}
              </a>
            {% endif %}
            {% if link.links.size > 0 %}
              <ul class="menu dropdown-child droap_menu">
                {% for child_link in link.links %}
                  <li class="menu-link {% if child_link.active %}active{% endif %} {% if child_link.child_active %}child-active{% endif %}">
                    <a class="{% if child_link.active %}active{% endif %}" href="{{ child_link.url }}">
                      {{- child_link.title -}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <ul class="menu_right">
        <li>
          <a class="menu_search">
            <i class="far fa-search"></i>
          </a>
        </li>
        <li>
          <a
            class="menu_cart"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          >
            <i class="far fa-shopping-basket"></i>
            <span class="qnty">15</span>
          </a>
        </li>
        <li>
          <a class="menu_order common_btn" href="menu_03.html">
            <span class="icon">
              <img
                src="{{ cartIconImg | img_url: 'original' }}"
                alt="{{ shop.name }}"
                width="50"
                height="50"
              >
            </span>
            order now
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="menu_search_area">
  <form action="{{ routes.search_url }}">
    <input type="text" name="q" value="{{ search.terms | escape }}" placeholder="Search Item...">
    <button class="common_btn" type="submit">Search</button>
    <span class="close_search"><i class="far fa-times"></i></span>
  </form>
</div>

<!--
  ==========================
      RTL BUTTON START
  ===========================
-->
<a class="rtl_button" href="#">RTL</a>
<!--
  ==========================
      RTL BUTTON END
  ===========================
-->

{% schema %}
{
  "name": "Header-cTake",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Select logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Reszie your logo",
      "min": 60,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 100
    },
    {
      "type": "image_picker",
      "id": "cartIconImg",
      "label": "Select cart img",
      "info": "Recommnended siz: 50x50px"
    },
    {
      "type": "image_picker",
      "id": "user_icon",
      "label": "Select user_icon",
      "info": "Recommnended siz: 50x50px"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Select Menu"
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "Header-cTake"
    }
  ]
}
{% endschema %}
