{% liquid
  assign logo = section.settings.logo
  assign cartIconImg = section.settings.cartIconImg
  assign user_icon = section.settings.user_icon
  assign menu = section.settings.menu
%}

<!--
  ==========================
  HEADER START
  ===========================
-->
<header>
  <div class="container container_large">
    <div class="row">
      <div class="col-xl-6 col-md-6 d-none d-md-block">
        <div class="header_left">
          <p>
            <i class="far fa-truck"></i>
            Free Express shipping over $200!
          </p>
        </div>
      </div>
      <div class="col-xl-6 col-md-6">
        <div class="header_right">
          <ul>
            <li>
              <select class="select_js">
                <option value="">English</option>
                <option value="">Japanes</option>
                <option value="">Korean</option>
                <option value="">Urdu</option>
                <option value="">Chines</option>
                <option value="">Arabic</option>
              </select>
            </li>
            <li>
              <select class="select_js">
                <option value="">$ USD</option>
                <option value="">ট BDT</option>
                <option value="">€ EUR</option>
                <option value="">£ GBP</option>
                <option value="">¥ JPY</option>
              </select>
            </li>
            <li>
              <a href="dashboard.html">
                <span>
                  <img
                    src="{{ user_icon | img_url }}"
                    alt="{{ null }}"
                    width="50"
                    height="50"
                ></span>
                My Account
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!--
  ==========================
  HEADER END
  ===========================
-->
<!--
  ==========================
  MENU START
  ===========================
-->
<nav class="navbar navbar-expand-lg main_menu">
  <div class="container container_large">
    <a class="navbar-brand" href="index.html">
      <img style="width:{{ section.settings.logo_width }}px" src="{{ logo | image_url:'original' }}">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars bar_icon"></i>
      <i class="far fa-times close_icon"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#"
            >Home
            <i class="fal fa-plus"></i>
          </a>
          <ul class="droap_menu">
            <li>
              <a class="active" href="index.html">home 01 (Restaurent)</a>
            </li>
            <li>
              <a href="index_2.html">home 02 (CP)</a>
            </li>
            <li>
              <a href="index_3.html">home 03 (Restaurent)</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            >About
            <i class="fal fa-plus"></i>
          </a>
          <ul class="droap_menu">
            <li>
              <a href="about_us_01.html">about style 01</a>
            </li>
            <li>
              <a href="about_us_02.html">about style 02</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Menu
            <i class="fal fa-plus"></i>
          </a>
          <ul class="droap_menu">
            <li>
              <a href="menu_01.html">menu style 01</a>
            </li>
            <li>
              <a href="menu_02.html">menu style 02</a>
            </li>
            <li>
              <a href="menu_03.html">menu list view</a>
            </li>
            <li>
              <a href="menu_details.html">menu details</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Pages
            <i class="fal fa-plus"></i>
          </a>
          <ul class="droap_menu">
            <li>
              <a href="blogs.html">blogs</a>
            </li>
            <li>
              <a href="blog_details.html">blog details</a>
            </li>
            <li>
              <a href="chefs.html">chefs</a>
            </li>
            <li>
              <a href="chefs_details.html">chef details</a>
            </li>
            <li>
              <a href="cart_view.html">cart view</a>
            </li>
            <li>
              <a href="checkout.html">checkout</a>
            </li>
            <li>
              <a href="dashboard.html">dashboard</a>
            </li>
            <li>
              <a href="faq.html">FAQ's</a>
            </li>
            <li>
              <a href="payment.html">payment</a>
            </li>
            <li>
              <a href="reservation.html">reservation</a>
            </li>
            <li>
              <a href="service.html">service</a>
            </li>
            <li>
              <a href="service_details.html">service details</a>
            </li>
            <li>
              <a href="sign_in.html">sign in</a>
            </li>
            <li>
              <a href="sign_up.html">sign up</a>
            </li>
            <li>
              <a href="forgot_password.html">forgot password</a>
            </li>
            <li>
              <a href="privacy_policy.html">privacy policy</a>
            </li>
            <li>
              <a href="terms_condition.html">terms & condition</a>
            </li>
            <li>
              <a href="error.html">error/404</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="branch.html">Branch</a>
        </li>
      </ul>
      <ul class="menu_right">
        <li>
          <a class="menu_search">
            <i class="far fa-search"></i>
          </a>
        </li>
        <li>
          <a
            class="menu_cart"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          >
            <i class="far fa-shopping-basket"></i>
            <span class="qnty">15</span>
          </a>
        </li>
        <li>
          <a class="menu_order common_btn" href="menu_03.html">
            <span class="icon">
              <img
                src="{{ cartIconImg | img_url: 'original' }}"
                alt="{{ shop.name }}"
                width="50"
                height="50"
              >
            </span>
            order now
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="menu_search_area">
  <form action="{{ routes.search_url }}">
    <input type="text" name="q" value="{{ search.terms | escape }}" placeholder="Search Item...">
    <button class="common_btn" type="submit">Search</button>
    <span class="close_search"><i class="far fa-times"></i></span>
  </form>
</div>

<!--
  ==========================
      RTL BUTTON START
  ===========================
-->
<a class="rtl_button" href="https://html.themefax.com/restina/html/rtl/index.html">RTL</a>
<!--
  ==========================
      RTL BUTTON END
  ===========================
-->

{% schema %}
{
  "name": "Header-cTake",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Select logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Reszie your logo",
      "min": 60,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 100
    },
    {
      "type": "image_picker",
      "id": "cartIconImg",
      "label": "Select cart img",
      "info": "Recommnended siz: 50x50px"
    },
    {
      "type": "image_picker",
      "id": "user_icon",
      "label": "Select user_icon",
      "info": "Recommnended siz: 50x50px"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Select Menu"
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "Header-cTake"
    }
  ]
}
{% endschema %}
